<mat-drawer-container>
  <mat-drawer #drawer [mode]="isShowHideFlag">
    <mat-icon aria-hidden="false" class="close" (click)="drawer.toggle()">close</mat-icon>
    <br>
    <h1>Home page</h1>
    <mat-list role="list">
      <mat-list-item role="listitem"><a mat-button href="#fashion">Home</a></mat-list-item>
      <mat-list-item role="listitem"><a mat-button href="#artistic">Login</a></mat-list-item>
      <mat-list-item role="listitem"><a mat-button href="#portrait">Register</a></mat-list-item>
      <mat-list-item role="listitem"><a mat-button href="#portrait">About</a></mat-list-item>
      <mat-list-item role="listitem"><a mat-button href="#portrait">Contact us</a></mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar class="nav">
      <mat-list role="list">
        <mat-list-item role="listitem"><a mat-button href="#fashion">
          <mat-icon>home</mat-icon>
          Home</a></mat-list-item>
        <mat-list-item role="listitem"><a mat-button href="#artistic">
          <mat-icon>login</mat-icon>
          Login</a></mat-list-item>
        <mat-list-item role="listitem"><a mat-button href="#portrait">
          <mat-icon>how_to_reg</mat-icon>
          Register</a></mat-list-item>
        <mat-list-item role="listitem"><a mat-button href="#portrait">
          <mat-icon>info</mat-icon>
          About</a></mat-list-item>
        <mat-list-item role="listitem"><a mat-button href="#contact">
          <mat-icon>contact_page</mat-icon>
          Contact us</a></mat-list-item>
      </mat-list>
    </mat-toolbar>
    <div class="silder">
      <mat-icon aria-hidden="false" aria-label="Home icon" class="desktop-hide" (click)="drawer.toggle()">
        reorder
      </mat-icon>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
<ul class="bc accent">
  <li *ngFor="let breadcrumb of (breadcrumbs$ | async)">
    <button mat-button [routerLink]="breadcrumb.url">{{ breadcrumb.label }} </button>
  </li>
</ul>
<router-outlet></router-outlet>

