<mat-list class="sticky-bottom-chat">
	<mat-list class="contacts">
		<mat-icon mat-list-icon>
			contacts
		</mat-icon>
		<h2>
			Contacts
		</h2>
		<mat-list-item class="contact active-glass-bg">
			<img mat-list-avatar
					 src="https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/7/73/SMH_Mentor_6.png" matBadge="14"
					 matBadgeColor="accent" alt="">
			<div>
				Steve Rogers
			</div>
			<div>
				That is America's ass 🇺🇸🍑
			</div>
		</mat-list-item>
		<mat-list-item class="contact">
			<img mat-list-avatar
					 src="https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/7/73/SMH_Mentor_6.png" matBadge="14"
					 matBadgeColor="accent" alt="">
			<div>
				Steve Rogers
			</div>
			<div>
				That is America's ass 🇺🇸🍑
			</div>
		</mat-list-item>
		<mat-list-item class="contact">
			<img mat-list-avatar
					 src="https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/7/73/SMH_Mentor_6.png" matBadge="14"
					 matBadgeColor="accent" alt="">
			<div>
				Steve Rogers
			</div>
			<div>
				That is America's ass 🇺🇸🍑
			</div>
		</mat-list-item>
		<mat-list-item class="contact">
			<img mat-list-avatar
					 src="https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/7/73/SMH_Mentor_6.png" matBadge="14"
					 matBadgeColor="accent" alt="">
			<div>
				Steve Rogers
			</div>
			<div>
				That is America's ass 🇺🇸🍑
			</div>
		</mat-list-item>
		<mat-list-item class="contact">
			<img mat-list-avatar
					 src="https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/7/73/SMH_Mentor_6.png" matBadge="14"
					 matBadgeColor="accent" alt="">
			<div>
				Steve Rogers
			</div>
			<div>
				That is America's ass 🇺🇸🍑
			</div>
		</mat-list-item>
		<mat-list-item class="contact">
			<img mat-list-avatar
					 src="https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/7/73/SMH_Mentor_6.png" matBadge="14"
					 matBadgeColor="accent" alt="">
			<div>
				Steve Rogers
			</div>
			<div>
				That is America's ass 🇺🇸🍑
			</div>
		</mat-list-item>
		<mat-list-item class="contact">
			<img mat-list-avatar
					 src="https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/7/73/SMH_Mentor_6.png" matBadge="14"
					 matBadgeColor="accent" alt="">
			<div>
				Steve Rogers
			</div>
			<div>
				That is America's ass 🇺🇸🍑
			</div>
		</mat-list-item>
		<mat-list-item class="contact">
			<img mat-list-avatar
					 src="https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/7/73/SMH_Mentor_6.png" matBadge="14"
					 matBadgeColor="accent" alt="">
			<div>
				Steve Rogers
			</div>
			<div>
				That is America's ass 🇺🇸🍑
			</div>
		</mat-list-item>
		<mat-list-item class="contact">
			<img mat-list-avatar
					 src="https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/7/73/SMH_Mentor_6.png" matBadge="14"
					 matBadgeColor="accent" alt="">
			<div>
				Steve Rogers
			</div>
			<div>
				That is America's ass 🇺🇸🍑
			</div>
		</mat-list-item>
		<mat-list-item class="contact">
			<img mat-list-avatar
					 src="https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/7/73/SMH_Mentor_6.png" matBadge="14"
					 matBadgeColor="accent" alt="">
			<div>
				Steve Rogers
			</div>
			<div>
				That is America's ass 🇺🇸🍑
			</div>
		</mat-list-item>
		<mat-list-item class="contact">
			<img mat-list-avatar
					 src="https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/7/73/SMH_Mentor_6.png" matBadge="14"
					 matBadgeColor="accent" alt="">
			<div>
				Steve Rogers
			</div>
			<div>
				That is America's ass 🇺🇸🍑
			</div>
		</mat-list-item>
		<mat-list-item class="contact">
			<img mat-list-avatar
					 src="https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/7/73/SMH_Mentor_6.png" matBadge="14"
					 matBadgeColor="accent" alt="">
			<div>
				Steve Rogers
			</div>
			<div>
				That is America's ass 🇺🇸🍑
			</div>
		</mat-list-item>
		<mat-list-item class="contact">
			<img mat-list-avatar
					 src="https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/7/73/SMH_Mentor_6.png" matBadge="14"
					 matBadgeColor="accent" alt="">
			<div>
				Steve Rogers
			</div>
			<div>
				That is America's ass 🇺🇸🍑
			</div>
		</mat-list-item>
		<mat-list-item class="contact">
			<img mat-list-avatar
					 src="https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/7/73/SMH_Mentor_6.png" matBadge="14"
					 matBadgeColor="accent" alt="">
			<div>
				Steve Rogers
			</div>
			<div>
				That is America's ass 🇺🇸🍑
			</div>
		</mat-list-item>
		<mat-list-item class="contact">
			<img mat-list-avatar
					 src="https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/7/73/SMH_Mentor_6.png" matBadge="14"
					 matBadgeColor="accent" alt="">
			<div>
				Steve Rogers
			</div>
			<div>
				That is America's ass 🇺🇸🍑
			</div>
		</mat-list-item>
		<mat-list-item class="contact">
			<img mat-list-avatar
					 src="https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/7/73/SMH_Mentor_6.png" matBadge="14"
					 matBadgeColor="accent" alt="">
			<div>
				Steve Rogers
			</div>
			<div>
				That is America's ass 🇺🇸🍑
			</div>
		</mat-list-item>
		<mat-list-item class="contact">
			<img mat-list-avatar
					 src="https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/7/73/SMH_Mentor_6.png" matBadge="14"
					 matBadgeColor="accent" alt="">
			<div>
				Steve Rogers
			</div>
			<div>
				That is America's ass 🇺🇸🍑
			</div>
		</mat-list-item>
		<mat-list-item class="contact">
			<img mat-list-avatar
					 src="https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/7/73/SMH_Mentor_6.png" matBadge="14"
					 matBadgeColor="accent" alt="">
			<div>
				Steve Rogers
			</div>
			<div>
				That is America's ass 🇺🇸🍑
			</div>
		</mat-list-item>
	</mat-list>
	<mat-list class="chat">
		<mat-list class="contact bar">
			<mat-list-item>
				<img matListAvatar src="https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/7/73/SMH_Mentor_6.png" alt="...">
				<h3 matLine> User name </h3>
				<p matLine>
					<span> Subject </span>
					<span class="time"> -- Date </span>
				</p>
				<ng-container>
					<mat-action-list class="flex d-flex">
						<button mat-list-item (click)="toggleChat()"><mat-icon>close</mat-icon> </button>
					</mat-action-list>
				</ng-container>
			</mat-list-item>
		</mat-list>
		<mat-list class="messages" id="chat">
			<mat-list-item class="time">
				Today at 11:41
			</mat-list-item>
			<mat-list-item class="message parker">
				Hey, man! What's up, Mr Stark? 👋
			</mat-list-item>
			<mat-list-item class="message received">
				Kid, where'd you come from?
			</mat-list-item>
			<mat-list-item class="time">
				Today at 11:41
			</mat-list-item>
			<mat-list-item class="message parker">
				Hey, man! What's up, Mr Stark? 👋
			</mat-list-item>
			<mat-list-item class="message received">
				Kid, where'd you come from?
			</mat-list-item>
			<mat-list-item class="time">
				Today at 11:41
			</mat-list-item>
			<mat-list-item class="message parker">
				Hey, man! What's up, Mr Stark? 👋
			</mat-list-item>
			<mat-list-item class="message received">
				Kid, where'd you come from?
			</mat-list-item>
			<mat-list-item class="time">
				Today at 11:41
			</mat-list-item>
			<mat-list-item class="message parker">
				Hey, man! What's up, Mr Stark? 👋
			</mat-list-item>
			<mat-list-item class="message received">
				Kid, where'd you come from?
			</mat-list-item>
			<mat-list-item class="time">
				Today at 11:41
			</mat-list-item>
			<mat-list-item class="message parker">
				Hey, man! What's up, Mr Stark? 👋
			</mat-list-item>
			<mat-list-item class="message received">
				Kid, where'd you come from?
			</mat-list-item>
			<mat-list-item class="message parker">
				Field trip! 🤣
			</mat-list-item>
			<mat-list-item class="message parker">
				Uh, what is this guy's problem, Mr. Stark? 🤔
			</mat-list-item>
			<mat-list-item class="message stark">
				Uh, he's from space, he came here to steal a necklace from a wizard.
			</mat-list-item>
			<div class="typing-indicator message">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</mat-list>
		<mat-list-item class="row">
			<mat-icon>
				camera
			</mat-icon>
			<mat-icon>
				laugh-beam
			</mat-icon>
			<form class="flex-grow-0">
				<mat-form-field>
					<mat-label>Message</mat-label>
					<input type="text" matInput [formControl]="messageFormControl" placeholder="Your message">
					<mat-error *ngIf="messageFormControl.hasError('empty') && !messageFormControl.hasError('required')">
						Please enter a valid message
					</mat-error>
					<mat-error *ngIf="messageFormControl.hasError('required')">
						Message is <strong>required</strong>
					</mat-error>
				</mat-form-field>
				<mat-icon>
					microphone
				</mat-icon>
			</form>
		</mat-list-item>
	</mat-list>
</mat-list >

