/* You can add global styles to this file, and also import other style files */

* {font-family: "Nunito Sans", serif;}
html, body {height: 100%;}
body {margin: 0;}

/* Style the list */
ul.bc {
  padding: 10px 16px;
  list-style: none;
  background-color: gray;
}

/* Display list items side by side */
ul.bc li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.bc li+li:before {
  padding: 8px;
  content: ">";
}

/* Add a color to all links inside the list */
ul.bc li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.bc li a:hover {
  color: #01447e;
  text-decoration: underline;
}
